# ------------------------------
# Client side credentials ignore
# ------------------------------

# dependency
client/node_modules

# production
client/build

# misc
client/src/.env.local
client/src/npm-debug.log*
client/public/google-app-password.png

# ------------------------------
# Server side credentials ignore
# ------------------------------

# dependency
server/node_modules

# misc
server/.env
